---
- name: Setting empty array
  run_once: true
  set_fact:
    vm_names: []
    vm_ips: []
    vm_name_counter: 1
  tags:
    - init_vms_for_fio
    - fio_tools

- name: Initialize  for FIO
  run_once: true
  include_tasks:
    file: setup_multiple_vms.yml
    apply:
      tags:
        - run_init_vm_included
  loop: "{{groups['rhhihosts']}}"
  loop_control:
    loop_var: host_name
  vars:
    host_for_vm: "{{host_name}}"
  tags:
    - init_vms_for_fio
    - fio_tools

- name: Debugging
  debug:
    msg : "{{vm_names}} + {{vm_ips}}"
  tags:
    - debug_vm_name_ips
    - fio_tools

- name: Fetch and save ip of multiple_vms
  run_once: true
  include_tasks:
    file: get_multiple_vm_ips.yml
    apply:
      tags:
      - run_get_vm_ip_included
  loop: "{{vm_names}}"
  loop_control:
    loop_var: vm_name_from_list
  tags:
   - fetch_vm_ip_for_fio
   - fio_tools


- name: Debugging
  run_once: true
  debug:
    msg : "list of VM ips: {{vm_ips}}"
  tags:
    - debug_vm_name_ips
    - fio_tools


- name: Set local for vms
  run_once: true
  include_tasks:
    file: set_local.yml
    apply:
      tags:
      - run_set_local_included
  loop: "{{vm_ips}}"
  loop_control:
    loop_var: vm_ip
  tags:
    - set_local_fio
    - fio_tools

- name: Set local to vms ssh
  delegate_to: 127.0.0.1
  become: false
  run_once: true
  shell: "sshpass -p \"{{vm_root_password}}\" ssh-copy-id -o StrictHostKeyChecking=no  \"root@{{vm_ip}}\""
  loop: "{{vm_ips}}"
  loop_control:
    loop_var: vm_ip
  tags:
  - run_local_to_vm_included
  - fio_tools

- name: Setup fio vms
  run_once: true
  include_tasks:
    file: setup_fio_vms.yml
    apply:
      tags:
       - run_set_fio_vms_included
  with_items: "{{vm_ips}}"
  tags:
    - set_fio_vms
    - fio_tools

- name: Generate run_workload.yml
  run_once: true
  delegate_to: 127.0.0.1
  become: false
  template:
    src: run_workload.yml.j2
    dest: run_workload.yml
    force: yes
  tags:
    - generate_run_workload_yml
    - fio_tools

- name: Generate randrw7030.yml
  run_once: true
  delegate_to: 127.0.0.1
  become: false
  template:
    src: randrw7030.yml.j2
    dest: randrw7030.job
    force: yes
  tags:
    - generate_randrw7030_yml
    - fio_tools

- name: Setup  stats collection folder
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0775
  with_items: "{{host_folders}}"
  tags:
    - set_hosts_collection_folders
    - fio_tools

- import_tasks: record_stats.yml
  vars:
    step: fio-tests
  tags:
    - fio_tools
    - record_fio_stat

- name: Starting gluster vol profiling
  run_once: true
  delegate_to: "{{ groups['profiling_server'][0] }}"
  shell:  'gluster vol profile "{{ gluster_vol_profiling }}" start'
  ignore_errors: yes
  tags:
    - fio_tools

- name: Save gprofile results
  run_once: true
  delegate_to: "{{ groups['profiling_server'][0] }}"
  shell:  'gluster vol profile "{{ gluster_vol_profiling }}" info > "{{ results_root_folder }}"/fio_results/gprofile_stats/gprofile."{{ step }}".txt'
  vars:
    step: pre_fio
  tags:
    - fio_tools

- name: Create local folder
  delegate_to: 127.0.0.1
  become: false
  run_once: true
  file:
    path: ./results{{results_suffix}}/fio_results/
    state: directory
  tags:
    - fio_tools


- name: Run fio test
  delegate_to: 127.0.0.1
  run_once: true
  become: false
  shell: |
    /bin/sh ./run_workload.sh -j ./randrw7030.job -t {{gluster_vol_profiling}} -r 120 -q 8 -f ./run_workload.yml -o ./results{{results_suffix}}/fio_results/
  tags:
    - fio_tools
    - run_fio

- name: Kill stat collection processes
  shell: 'pkill "{{ process }}"'
  loop:
      - iostat
      - vmstat
      - mpstat
      - top
      - sar
      - pidstat
  loop_control:
    loop_var: process
  ignore_errors: yes
  tags:
    - fio_tools
    - kill_fio_stat

- name: Save gprofile results
  run_once: true
  delegate_to: "{{ groups['profiling_server'][0] }}"
  shell:  'gluster vol profile "{{ gluster_vol_profiling }}" info > "{{ results_root_folder }}"/fio_results/gprofile_stats/gprofile."{{ step }}".txt'
  vars:
    step: post_fio
  tags:
    - fio_tools

- name: gather all results
  import_tasks: gather_all_results.yml
  tags:
    - fio_tools





